In [1]:
import pandas as pd

Q1.create one variable of float,int,bool,tuple,list

In [43]:
a=10
type(a)

int

In [20]:
a
print("{:.2f}".format(a))

10.00

In [45]:
b=float(10.50)
type(b)

float

In [47]:
t=(2,3,4)
t

(2, 3, 4)

In [49]:
l=[2,3,4]
l

[2, 3, 4]

In [22]:
c=True
print(type(c))

<class 'bool'>

In [25]:
e=5+7j   #imaginary part of complex no.
type(e)

complex

In [28]:
print(e.real)
print(e.imag)
"""
tripple quotes
"""

5.0
7.0

'\ntripple quotes\n'

In [41]:
a='Bharat'
b=3
print(a+str(b))

Bharat3


Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

string
string
list
int

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [61]:
a=10
b=6
print(a/b)  # quotitent
print(a%b)  # gives remainder
print(a//b) # floor division
print(a**b) #b raise to the power a

1.6666666666666667
4
1
1000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [92]:
#l=[i for i in range(0,5) for j in (True,False)]

l=[10,20.4,'Bye',True,6,4+3j,5,5.6]
l
type(l[3])

for i in range(len(l)):
    print(l[i])
    print(type(l[i]))

10
<class 'int'>
20.4
<class 'float'>
Bye
<class 'str'>
True
<class 'bool'>
6
<class 'int'>
(4+3j)
<class 'complex'>
5
<class 'int'>
5.6
<class 'float'>

In [99]:
b=['Bharat',10]
#b[3]='i'  #'str' object does not support item assignment therefore immutable
b[0]='Deepti'
b

['Deepti', 10]

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a,b=10,2
while b<a:
    if (a%b)==0:
        print("{} is divisible by {}".format(a,b))
    b=b+1
else:
    print("out of while loop")    # will be executed both if condition is true and when not true

10 is divisible by 2
10 is divisible by 5
out of while loop

In [8]:
a,b=10,2
(a/b)

5.0

In [6]:
a,i=10,1

while i<a:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
lst=[i for i in range(1,24)]
lst
for j in range(len(lst)):
    if lst[j]%3==0:
        print("{} is divisible by 3".format(lst[j]))

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3

Q7 What do you understand about mutable and immutable data types? Give examples for both showing
this property

In [23]:
lst=[1,2,3,4]
lst[0]=5       #list is mutable 
print(lst)

tup=(1,2,3,4)
tup[0]=5       # tuple is immutable as element assignment isnt possible

[5, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment