In [1]:
%%html
<style>
.cm-comment {
    color: grey !important;
}
</style>

Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [125]:
def odd(n):
    n=[]
    for i in range(1,26):
        if i%2!=0:
            n.append(i)
    return n

In [126]:
lst=[i for i in range(1,25)]
odd(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs to
demonstrate their use.

In [127]:
def any_no(*args):          # args is not a keyword we can use any key word
    return args

any_no(2,3,4,5)

(2, 3, 4, 5)

In [131]:
#key value functions with arguments returns dictionary

def any_kv(**args): 
    return args

any_kv(Bharat='Data Scientist',Effort='Maximum')

{'Bharat': 'Data Scientist', 'Effort': 'Maximum'}

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16,
18, 20].

In [135]:
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

my_iterator = iter(my_list)

# Print the first five elements
for i in range(5):
    i = next(my_iterator)
    print(i)

2
4
6
8
10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

In [136]:
def gen2(n):
    a,b=0,1
    for i in range(n):
        yield a      # used to avoid memory storage for large no. of arguments if passed
        a,b = b, a+b

for i in gen2(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [217]:
def gen_prime(n):
    for i in n:
        isdivisible=False
        for k in range(2,i):
            if i%k==0:
                isdivisible=True
                break
        if not isdivisible:
            yield i

In [222]:
n = [i for i in range(1,1000)]
prime_gen = gen_prime(n)

for _ in range(20):
    print(next(prime_gen))

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67

In [186]:
# Normal Prime function
n=[2,3,4,5,12,13,14,15]

for i in n:
    isdivisiable=False
    for k in range(2,i):
        if i%k==0:
            isdivisiable=True
            break
    if isdivisiable==False:
        print(f"{i} is prime")
    else:
        print(f"{i} is not prime")

2 is prime
3 is prime
4 is not prime
5 is prime
12 is not prime
13 is prime
14 is not prime
15 is not prime

# Practice

In [13]:
def test1():                        # multiple returns
    return 1,"Bharat","Deepti"

In [14]:
test1()

(1, 'Bharat', 'Deepti')

In [9]:
test1()[1]

'Bharat'

In [15]:
a,b,c=test1()

In [16]:
a

1

In [17]:
b

'Bharat'

In [18]:
c

'Deepti'

In [19]:
def test2(a,b,c):
    d=a+b+c
    return d

In [22]:
test2('Bharat',' Sakarwal',' Data Scientist')

'Bharat Sakarwal Data Scientist'

In [24]:
test2('Bharat','-03','-007')

'Bharat-03-007'

In [44]:
ls=[4.5]
type(ls[0])

float

In [96]:
def test3(l):
    n=[]
    for i in l:
        if (type(i)== int) or (type(i)==float):
            n.append(i)
        elif (type(i)==list) & (len(i)>2):
            for k in i:
                if (type(k)==int):
                    n.append(k)
    return n

In [97]:
lst=[1,2,3,4.3,'Bharat','Deepti',[7,8,9,10]]

In [98]:
lst[6][0]

7

In [99]:
test3(lst)

[1, 2, 3, 4.3, 7, 8, 9, 10]

### pass any no. of arguments

In [103]:
def any_no(*args):          # args is not a keyword we can use any key word
    return args

In [104]:
any_no(1,2,3,4)

(1, 2, 3, 4)

In [106]:
def argue(*bharat):
    return bharat

In [107]:
argue(1,2,3,[3,4],{'Bharat':'007'})

(1, 2, 3, [3, 4], {'Bharat': '007'})

In [117]:
def multi(*args,n):
    return n,args

In [119]:
multi([34,5],n=4) # have to explicitly specify n is 4

(4, ([34, 5],))

In [127]:
def test3(*l):          #similar to * args
    n=[]
    for i in l:
        if (type(i)== int) or (type(i)==float):
            n.append(i)
        elif (type(i)==list) & (len(i)>2):
            for k in i:
                if (type(k)==int):
                    n.append(k)
    return n

In [128]:
lst=[1,2,3,4.3,'Bharat','Deepti',[7,8,9,10]]

In [129]:
test3(lst)

[1, 2, 3]

In [130]:
test3(1,2,3,4.3,'Bharat','Deepti',[7,8,9,10])

[1, 2, 3, 4.3, 7, 8, 9, 10]

In [131]:
#key value functions with arguments

def any_kv(**args): 
    return args

In [139]:
any_kv(a='007',Key1='Value1')   # Returns Dictionary

{'a': '007', 'Key1': 'Value1'}

In [70]:
def gen(n):
    fib=[0,1]
    for i in range(n):
        j=fib[i]+fib[i+1]
        fib.append(j)
    return fib

In [71]:
gen(5)

[0, 1, 1, 2, 3, 5, 8]

In [63]:
def gen2(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b = b, a+b

for i in gen2(10):
    print(i)

In [64]:
gen2(5)

In [65]:
for i in gen2(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [75]:
a=lambda x,y:x+y

In [99]:
l=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[11,22,33,45,10]

In [88]:
list(map(lambda x,y:x+y,l,l2))

[7, 9, 11, 13, 15]

In [89]:
list(map(a,l,l2))

[7, 9, 11, 13, 15]

In [92]:
a(10,12)

22

In [93]:
list(map(lambda x:str(x),l)) # converts to string

['1', '2', '3', '4', '5']

In [95]:
from functools import reduce

In [103]:
reduce(lambda x,y:x+y,l)  # in reduce as well we can pass external function also, ideally takes 2 argument

15

In [106]:
reduce(lambda x,y:x if x>y else y,l) # maximum value

5

In [107]:
reduce(lambda x,y:x if x<y else y,l) #min value

1

In [117]:
list(filter(lambda x:x >2,l))   # filter values on basis of given condition

[3, 4, 5]